.image{
    height:120px;
    width:120px;
}

h1{
    color: blue;
    text-align: center;
}

.post{
    background-color: rgb(68, 200, 200);
}

.caption{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:blueviolet;
}